@import url('https://fonts.googleapis.com/css?family=Cardo:400i');

html,body {
    width: 100%;
    height: 100%;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
    background-color: black;
}

/*nav*/
.navbar-example {
    position: fixed; 
    top: 40%; 
    left: 1%; 
    z-index: 20;
}
@media (max-width: 768px) {
    .navbar-example {
        visibility: hidden;
    }
}
.nav-pills>li>a {
    color: white;
}
.nav-pills>li>a:focus,
.nav-pills>li>a:hover {
    background-color: black;
}
.nav-pills>li.active>a, 
.nav-pills>li.active>a:focus, 
.nav-pills>li.active>a:hover {
    color: black;
    background-color: white;
}

.responsive-nav-showButton-show {
    position: absolute;
    right: 2rem;
    top: 4rem;
    font-size: 3.5rem;
}
.responsive-nav-showButton-hidden {
    position: fixed;
    visibility: hidden;
}
.glyphicon {
    color: white;
}

.responsive-nav-hidden {
    position: fixed;
    visibility: hidden;
}
.responsive-nav-show {
    background-color: black;
    position: fixed;
    visibility: visible;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    display: flex;
    justify-content: center;
    padding: 25% 10%;
}
.responsive-nav-closeButton {
    position: fixed;
    right: 2rem;
    top: 4rem;
    font-size: 3.5rem;
}

.responsive-nav ul {
    list-style-type: none;
    margin: 0;
}
.responsive-nav ul li a {
    display: inline-block;
    color: white;
    font-size: 5rem;
    text-decoration: none;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    -ms-transition: 0.5s;
    transition: 0.5s;
}
.responsive-nav ul li a:hover {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1.2);
}
.responsive-nav-hidden ul {
    visibility: hidden;
}
.responsive-nav-hidden ul li a {
    visibility: hidden;
    -webkit-transition: 0s;
    -moz-transition: 0s;
    -o-transition: 0s;
    -ms-transition: 0s;
    transition: 0s;
}

.screen-cover {
    background-color: white;
    z-index: 10;
    position: fixed;
    visibility: hidden;
}

/*main*/
.container {
    width: 100%;
    padding: 0;
    margin: 0 auto;
}
@media (max-width: 768px) {
    .container {
        width: 100%;
    }
}
.row {
    width: 80%;
    margin: 0 auto;
    background-color: black;
    display: flex; 
    flex-direction: column; 
    color: white;
}
@media (max-width: 768px) {
    .row {
        width: 80%;
    }
}
.category {
    margin: 0;
    margin-top: 8rem;
    font-size: 10rem; 
    font-weight: 900;
}
.title {
    margin: 0;
    font-size: 6rem;
    font-weight: 600;
}
.detail {
    margin-bottom: 10rem; 
    margin-top: 5rem;
    font-size: 4rem; 
}
@media (max-width: 768px) {
    .category {
        margin-top: 5rem;
        font-size: 6rem;
    }
    .title {
        font-size: 3rem;
    }
    .detail {
        font-size: 2rem;
        margin-bottom: 5rem;
        margin-top: 3rem;
    }
}

/*card*/
.languages {
    width: 7rem;
    color: gray;
    position: absolute;
    font-size: 1.5rem;
    font-weight: 600;
    list-style: none;
    align-items: center;
    padding: 0;
    display: flex;
    justify-content: space-between;
    top: 6rem;
    right: 6rem;
    cursor: pointer;
}
.dot {
    width: 5px;
    height: 5px;
    border-radius: 100%;
    background-color: white;
}
.languages-item {
    transition: all 0.5s;
}
.languages-item#en {
    color: white;
} 
.row.card {
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    background-color: black; 
    width: 100%;
    color: black;
    align-items: center; 
}
.sort {
    display: flex;
    color: gray;
    font-size: 2rem;
    margin-top: 4.5rem;
    cursor: pointer;
    align-items: center;
}
.sort-item {
    padding: 0 15px;
    transition: all 0.5s;
}
.sort-item#time {
    border-right: 1px solid white;
    color: white;
}
.sort-item#category {
    border-right: 1px solid white;
}
.card-wrapper {
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 700px;
    margin: 0 auto;
    margin-top: 11rem;
    text-align: center;
}
@media (max-width: 767px) {
    .languages {
        top: 5rem;
        left: 4rem;
    }
    .card-wrapper {
        width: 300px;
        height: 600px;
    }
}
@media (max-width: 320px) {
    .card-wrapper {
        width: 250px;
        height: 500px;
    }
}
.front {
    background-color: white;
    width: 100%;
    height: 100%;
    z-index: 2;
    box-shadow: 5px 5px 5px grey;

}
.back {
     background-color: white; 
     width: 100%;
     height: 100%;
     box-shadow: 5px 5px 5px grey;
}
.btn {
    color: gray;
    font-size: 2.5rem;
    position: absolute;
    right: 1rem;
    top: 1rem;
}

.btn .glyphicon {
    color: gray;
}
.profile {
    margin-top: 50px;
    margin-bottom: 40px;
    width: 160px;
}
.name {
    font-family: 'Lato', sans-serif;
    margin-bottom: 2rem;
}

.job {
    font-family: 'Lato', sans-serif;
    margin-bottom: 2rem;
    font-size: 2rem;
    line-height: 3.5rem;
}

.deco {
    font-family: 'Cardo', serif;
    line-height: 23px;
    font-size: 2rem;
    margin-top: 10rem;
}

/*iphone 6,7*/
@media (max-width: 767px) {
    .profile {
        margin-bottom: 10px;
    }
    .deco {
        margin-top: 5rem;
        font-size: 1.8rem;
    }
}
/*iPhone5*/
@media (max-width: 320px) {
    .name {
        font-size: 30px;
    }
    .job {
        font-size: 15px;
        line-height: 2rem;
    }
    .btn {
        font-size: 18px;
    }
    .deco {
        margin-top: 3.5rem;
        line-height: 16px;
        font-size: 15px;
    }
}

.gallery {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 5rem;
    align-items: flex-end;
}
.gallery-big {
    margin-bottom: 10rem;
}
.gallery-item {
    display: flex;
    flex-direction: column;
    width: 32%;
    transition: all 0.5s;
    margin-bottom: 5rem;
    overflow: hidden;
    /*transform: scale(0);*/
}
.border {
    width: 100%;
    height: 1px;
    background-color: white;
    transition: all 0.5s cubic-bezier(1.000, 0.000, 0.000, 1.000);
}

.gallery-item > img {
    width: 100%;
    cursor: pointer;
}

.gallery-item-caption {
    color: white;
    font-size: 2rem;
    text-align: left;
    font-weight: 300;
    margin: 0;
    padding-top: 2rem;
    padding-bottom: 1rem;
}

@media (max-width: 767px) {
    .gallery {
        margin-bottom: 0;
        flex-direction: column;
    }
    .gallery-item {
        margin-right: 0;
        width: 100%;
    }
    .gallery-item:last-child {
        margin-bottom: 0;
    }
    .gallery-item > img {
        padding-bottom: 0;
    }
    .gallery-item-caption {
        font-size: 1.5rem;
        padding: 1rem 0;
    }
}

.centered-text {
    font-size:  3rem;
    color: white;
    text-align: center;
}
@media (max-width: 768px) {
    .centered-text {
        font-size: 1.2rem;
    }
}

.nav-bottom {
    width: 100vw;
    height: 30rem;
    position: fixed;
    bottom: 0; left: 0;
}
