/*@font-face {
    font-family: 'Lato', sans-serif;
    src: local(Lato-Light.ttf);
}
@font-face {
    font-family: 'Montserrat', sans-serif;
    src: url('../fonts/Montserrat/Montserrat-SemiBold.ttf');
    font-weight: 600;
}
@font-face {
    font-family: 'Montserrat', sans-serif;
    src: url('../fonts/Montserrat/Montserrat-Black.ttf');
    font-weight: 900;
}
@font-face {
    font-family: 'Linden Hill', serif;
    src: url('../fonts/Linden_Hill/LindenHill-Italic.ttf');
}
*/
html,body {
    width: 100%;
    height: 100%;
	font-family: 'Montserrat', sans-serif;
	font-weight: 600; 
    background-color: black;
}
/*defalut setting*/
p {
    margin: 0;
}
.large-text {
    padding-bottom: 10rem; 
    font-size: 4rem; 
    color: white; 
    margin: 0 auto; 
    width: 100%;
    margin-top: 10rem;
}

strong {
    font-size: 6rem; 
    font-weight: 900;
}


@media (max-width: 768px) {
    .large-text {
        font-size: 2rem;
        margin-top: 6rem;
        padding-bottom: 6rem;
    }
    strong {
        font-size: 3rem;
    }
}


/*nav*/
.navbar-example {
    position: fixed; 
    top: 40%; 
    left: 1%; 
    z-index: 20;
}
.nav-pills>li>a {
    color: white;
}
.nav-pills>li>a:focus,
.nav-pills>li>a:hover {
    background-color: black;
}
.nav-pills>li.active>a, 
.nav-pills>li.active>a:focus, 
.nav-pills>li.active>a:hover {
    color: black;
    background-color: white;
}

/*main*/
.container {
    width: 100%;
    padding: 0;
    margin: 0 auto;
}
@media (max-width: 768px) {
    .container {
        width: 100%;
    }
}
.row {
    width: 80%;
    margin: 0 auto;
    background-color: black;
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center;
}
@media (max-width: 768px) {
    .row {
        width: 80%;
    }
}

/*card*/
.row.card {
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    background-color: black; 
    width: 100%;
}
.hamburger {
    position: absolute;
    right: 2rem;
    top: 4rem;
    font-size: 3.5rem;
    z-index: 100;
}
.glyphicon {
    color: white;
}
.card-wrapper {
    display: flex;
    flex-direction: column;
    width: 350px; 
    height: 700px; 
    position: relative; 
    margin: 0 auto;
    margin-top: 11rem;
    text-align: center;

}
@media (max-width: 767px) {
    .row.card {
        height: 100vh;
    }
    .card-wrapper {
        width: 300px;
        height: 600px;
    }
}
@media (max-width: 320px) {
    .card-wrapper {
        width: 250px;
        height: 500px;
    }
}
.front {
    background-color: white;
    width: 100%;
    height: 100%;
    position: absolute; 
    z-index: 2;
    box-shadow: 5px 5px 5px grey;

}
.back {
     background-color: white; 
     width: 100%;
     height: 100%;
     position: absolute;
     box-shadow: 5px 5px 5px grey;
}
.btn {
    color: black;
    font-size: 2rem;
}
.btn.unflip {
    margin-top: 395px;
}
.profile {
    margin-top: 50px;
    margin-bottom: 40px;
    width: 160px;
}
.name {
    /*font-family: 'Lato', sans-serif;*/
    margin-bottom: 2rem;
    font-weight: 300;
}

.job {
    margin-bottom: 1rem;    
}

.deco {
    position: relative;
    font-family: 'Linden Hill', serif;
    line-height: 23px;
    margin-top: 7rem;
}

/*iphone 6*/
@media (max-width: 767px) {
    .btn.unflip {
        margin-top: 360px;
    }
    .profile {
        margin-bottom: 10px;
    }
    .deco {
        margin-top: 2rem;
    }
}
/*iPhone5*/
@media (max-width: 320px) {
    .name {
        font-size: 30px;
    }
    .job {
        font-size: 15px;
    }
    .btn {
        font-size: 18px;
    }
    .deco {
        line-height: 16px;
        font-size: 15px;
    }
}

.gallery {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
}
.gallery-item {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-right: 2rem;
    border-bottom: 1px solid white;
}
.gallery-item:last-child {
    margin-right: 0;
}
.gallery-item > img {
    width: 100%;
    height: 100%;
    padding-bottom: 2rem;
}
.gallery-item-caption {
    color: white;
    font-size: 2rem;
    text-align: left;
    padding-bottom: 2rem;
}
@media (max-width: 767px) {
    .gallery {
        /*flex-direction: column;*/
        /*width: 100vw;
        height: 100vh;*/
    }
    .gallery-item {
        margin-bottom: 3rem;
        overflow: hidden;
        margin-right: 1rem; 
        /*border-bottom: none;*/
    }
    .gallery-item > img {
        padding-bottom: 0;
        margin-bottom: 2rem;
    }
    .gallery-item-caption {
        /*visibility: hidden;*/
        font-size: 1.5rem;
    }
}
/*2016*/
/*2017*/
.seventeen-celebrate {
    width: 100vw;
    height: 60vh;
    background-image: url(../images/2017.jpeg);
    background-size: cover;
    background-attachment: fixed;
    margin-top: 10rem;

}
/*2018*/
.eighteen-celebrate {
    background-image: url(../images/2018.jpg); 
    width: 100vw; 
    height: 100vh; 
    background-size: cover;
    z-index: 1;
    background-attachment: fixed;
    text-align: center;
}
.row.eighteen {

}